manifest {
  description = 'Run Jcvi' 
  author = 'Chris Wyatt'
}

params {
  outdir = "Results"
  input = "data/Example.csv"
  seqids = "./data/default1"
  layout = "./data/default2"
  hex = "data/unique_hex2"
  go = null
  test =0
  tree = false
  clean = false
}

profiles {
  myriad {
    includeConfig 'conf/myriad.config'
  }
  docker {
    includeConfig 'conf/docker.config'
  }
  myriad2 {
    includeConfig 'conf/myriad2.config'
  }
}
/*
// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capturing Nextflow log files into a reports directory
timeline {
   enabled = true
   file = "reports/timeline.html" 
   overwrite = true
}

report {
   enabled = true
   file = "reports/report.html"
   overwrite = true
}

trace {
   enabled = true
   file = "reports/trace.txt"
   overwrite = true
}
*/
// Ensures work directories and removed when pipeline completes
if (params.clean) {
   cleanup = true
}
