/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
   clean  = false
}

process {
   withName: DOWNLOAD_NCBI { 
     errorStrategy = 'retry'
     maxRetries    = 2
   }
}

timeline.enabled = false

report.enabled = false

dag.enabled = false
