/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process {
   withName: DOWNLOAD_NCBI { 
     errorStrategy = 'retry'
     maxRetries    = 2
   }
   withName: LONGEST {
    max_memory = '6.GB'
   }
}

timeline.enabled = false

report.enabled = false

dag.enabled = false
