// Setting default labels with associated resource allocation
process {

    // Cap any requested resources at the maximum available on the platform
    resourceLimits = [ cpus: 16, memory: 128.GB, time: 48.h ]

    // Default resources are same as single label for any unlabelled processes that may be added
    cpus   = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
    time   = { 1.h * task.attempt }

    // If error is due to timeout or exceeding resource limits then retry
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    // Do not allow any errors when retrying
    maxErrors     = '-1'

    withLabel:process_single {
        cpus   = { 1 * task.attempt }
        memory = { 2.GB * task.attempt }
        time   = { 1.h * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 2 * task.attempt }
        memory = { 4.GB * task.attempt }
        time   = { 2.h * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 4 * task.attempt }
        memory = { 8.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 8 * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 8.h * task.attempt }
    }
    withLabel:process_long {
        time   = { 24.h * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 64.GB * task.attempt }
    }
    withLabel:process_med_memory {
        memory = { 20.GB * task.attempt }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }

}
