docker.runOptions='-u $(id -u):$(id -g)'

process {

  errorStrategy = 'retry'
  maxRetries    = 5

  withLabel: 'jcvi' {
    cpus = 1
    echo = true
  }

  withLabel: 'chromo' {
    cpus = 1
    echo = true
  }

  withLabel: 'gffread' {
    cpus = 1
    echo = true
  }

  withLabel: 'syn' {
    cpus = 1
    echo = true
  }

  withLabel: 'download' {
    cpus = 1
    echo = true
  }

  withLabel: 'go_summarise' {
    clusterOptions = '-l mem=2G -l h_rt=1:0:0 -l tmpfs=2G'
    cpus = 1
  }

}

docker.enabled = true
