docker.runOptions='-u $(id -u):$(id -g)'

process {
  withLabel: 'jcvi' {
    container = 'chriswyatt/jcvi'
    cpus = 1
    echo = true
  }

  withLabel: 'chromo' {
    container = 'chriswyatt/jcvi'
    cpus = 1
    echo = true
  }

  withLabel: 'gffread' {
    container = 'chriswyatt/gffread_python3'
    cpus = 1
    echo = true
  }

  withLabel: 'syn' {
    container = 'chriswyatt/jcvi'
    cpus = 1
    echo = true
  }

  withLabel: 'config' {
    container = 'chriswyatt/jcvi'
    cpus = 1
    echo = true
  }

  withLabel: 'macro' {
    container = 'chriswyatt/jcvi'
    cpus = 1
    echo = true
  }

  withLabel: 'download' {
    container = 'chriswyatt/ncbi_datasets'
    cpus = 1
    echo = true
  }
}

 docker.enabled = true