

process {
  withLabel: 'jcvi' {
    container = 'chriswyatt/jcvi'
    cpus = 1
    echo = true
  }

  withLabel: 'gffread' {
    container = 'dceoy/gffread'
    cpus = 1
    echo = true
  }

  withLabel: 'syn' {
    container = 'chriswyatt/jcvi'
    cpus = 1
    echo = true
  }
}

 docker.enabled = true