process {
  executor='sge'
  withLabel: 'jcvi' {
    container = 'chriswyatt/jcvi'
    clusterOptions = '-l mem=20G -l h_rt=24:0:0 -l tmpfs=20G'
    cpus = 1
    echo = true
  }

  withLabel: 'chromo' {
    container = 'chriswyatt/jcvi'
    clusterOptions = '-l mem=20G -l h_rt=24:0:0 -l tmpfs=20G'
    cpus = 1
    echo = true
  }

  withLabel: 'gffread' {
    container = 'chriswyatt/gffread_python3'
    clusterOptions = '-l mem=2G -l h_rt=1:0:0 -l tmpfs=2G'
    cpus = 1
    echo = true
  }

  withLabel: 'syn' {
    container = 'chriswyatt/jcvi'
    clusterOptions = '-l mem=20G -l h_rt=24:0:0 -l tmpfs=20G'
    cpus = 1
    echo = true
  }

  withLabel: 'config' {
    container = 'chriswyatt/jcvi'
    clusterOptions = '-l mem=20G -l h_rt=24:0:0 -l tmpfs=20G'
    cpus = 1
    echo = true
  }

  withLabel: 'macro' {
    container = 'chriswyatt/jcvi'
    clusterOptions = '-l mem=20G -l h_rt=24:0:0 -l tmpfs=20G'
    cpus = 1
    echo = true
  }

  withLabel: 'download' {
    container = 'chriswyatt/ncbi_datasets:version3.0'
    clusterOptions = '-l mem=20G -l h_rt=24:0:0 -l tmpfs=20G'
    cpus = 1
    echo = true
  }
}

singularity.enabled = true
singularity.autoMounts = true
