process {
  executor='sge'
  withLabel: "svm" {
    container = 'quay.io/comparative-genomics-toolkit/cactus:v2.0.5'
    clusterOptions = '-l mem=20G -l h_rt=24:0:0 -l tmpfs=20G'
  }
  withLabel: "download" {
    clusterOptions = '-l mem=20G -l h_rt=2:0:0 -l tmpfs=20G'
  }
}

singularity.enabled = true
singularity.autoMounts = true
