params {
  // Path to test input data
  input                      = "${projectDir}/data/Example-local.csv"
  go                         = "${projectDir}/data/go_input/hash_files"
  score                      = true
  clean                      = false
  ribbon                     = "Drosophila_santomea,Drosophila_simulans,Drosophila_yakuba"
  // Max resources for test input data can be reduced
  max_memory                 = '6.GB'
  max_cpus                   =  2
  max_time                   = '6.h'
}
