params {
  // Path to test input data
  input                      = "${projectDir}/data/Example-halictids.csv"
  score                      = true
  clean                      = false
  ribbon                     = "Halictus_rubicundus,Lasioglossum_calceatum,Lasioglossum_malachurum"
  go                         = "s3://synteny-test-data/data/halicids/Go_folder"
  tree                       = "${projectDir}/data/halictus_tree.nw"
}
