params {
  // Path to test input data
  input                      = "${projectDir}/data/Example-accession-mammal.csv"
  score                      = true
  clean                      = false
  ribbon                     = "Siamang,Gorilla,Sumatran_orangutan,Pymgy_chimpanzee,Ring_tailed_lemur,Slow_loris,Crab_eating_macaque,Tibetan_macaque"
  // Max resources for test input data can be reduced
  //max_memory                 = '6.GB'
  //max_cpus                   =  2
  //max_time                   = '6.h'
}
