params {
  // Path to results directory
  outdir                     = "test-results"
  // Path to input CSV
  input                      = "data/Example-accession.csv"
  hex                        = "data/unique_hex"
  go                         = null
  tree                       = null
  // Remove work directories upon pipeline completion
  clean                      = true
  // Architecture of platform pipeline is running on
  architecture               = "amd"
  // Max resource options
  max_memory                 = '6.GB'
  max_cpus                   =  2
  max_time                   = '6.h'
  // Custom config options
  custom_config              = null
}
